.bg-2{
  background: #f9ec2a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#f9ec2a,#dddddd);
  background: -o-linear-gradient(right,#f9ec2a,#dddddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#f9ec2a,#dddddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#f9ec2a,#dddddd); /* Standard syntax */
}

.bg-3{
  background: #f9ec2a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f9ec2a,#bee3db);
  background: -o-linear-gradient(#f9ec2a,#bee3db); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f9ec2a,#bee3db); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f9ec2a,#bee3db); /* Standard syntax */
}

.bg-1{
  background: #f9ec2a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#f9ec2a,#bee3db);
  background: -o-linear-gradient(right,#f9ec2a,#bee3db); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#f9ec2a,#bee3db); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#f9ec2a,#bee3db); /* Standard syntax */
}

.box-1{
  padding-bottom:80px;
  padding-top:80px;
}
.box-2{
  padding-bottom:162px;
  padding-top:30px;
}
.box-3{
  padding-left:30px;
  padding-top:15px;

}
.box-4{
  padding-left:30px;
  padding-top:0px;

}


.field-divided{

    border-style: solid;
    border-color: white;

}

.button1{
  font-size:20px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-padding{
  padding-left:15px;
  padding-right:15px;
}

.close {
  display: none;
}

.contt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.fit-center{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
/* 20 columns grid */
.column.x-is-1-mobile {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 5%; 
}
.column.x-is-18-mobile {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 90%; 
}
/*restore padding on mobile*/
.column{
  padding-left: 0;
  padding-right: 0;
}
}